<div class="row border rounded align-items-center p-2 mt-2">
  <div class="col-sm-3 pt-2" align="center">
    <img src="assets/images/car/car.png" class="rounded-circle">
  </div>
  <div class="col-sm-5 pt-2 border-left p-3" align="center">
      <p style="font-size: 22px;">{{car.brand}} {{car.model}}
          <br><small class="text-muted">Type: {{car.type}}</small>
          </p>
          <hr>
      <div>
          <i class="fa fa-male" aria-hidden="true"></i>{{car.seatsNumber}} Seats
          <i class="fa fa-car-side" aria-hidden="true"></i> {{car.doorsNumber}} Doors
          <br> <i class="fa fa-calendar-alt" aria-hidden="true"></i>{{car.yearOfProduction}} Year
      </div>      
  </div>
  
  <div class="col border-left p-3" align="center">
      <p style="font-size: 45px; color:  #33cabb;">€{{car.price}}</p>
      <hr>
      <button *ngIf="isCarAdmin()" class="btn btn-primary px-4 m-2" data-toggle="modal" data-target="#editCar" (click)="click()">Edit</button>
      <button class="btn btn-primary px-4 m-2">Rent</button>
  </div>  
</div>

<!-- Modal  -->
<app-edit-car-form [car]="getCar()" class="modal fade" id="editCar" tabindex="-1" role="dialog" aria-hidden="true" (carEdited)='carEdited($event)'></app-edit-car-form>


