<div class="card" style="border: solid #ffffff;">
   <div class="card-header p-0" style="border: solid #ffffff; background-color:#ffffff;">
      <div class="container">
         <div class="row border rounded align-items-center p-2 mt-3">
            <div class="col-2 border-right py-1" align="center">
               <h3 class="display-4" style="font-size:22px;">
                  <a routerLink="">{{reservation.car.rentACarCompany.name}}</a>
               </h3>
               <small class="text-muted">{{reservation.car.rentACarCompany.location.city}},
                  {{reservation.car.rentACarCompany.location.country}}</small>
               <p class="pb-2 pt-1">
                  <rating [(ngModel)]="reservation.car.rentACarCompany.averageRating" [max]="max" (click)="rateCarCompany()"
                     [readonly]="reservation.isCompanyRated"></rating>
               </p>
            </div>


            <div class="col-3 pt-4" style="padding-top:34px;" align="center">

               <p>{{reservation.pickUpBranchOffice.location.city}}, {{reservation.pickUpBranchOffice.location.country}}
                  <br> <small>{{reservation.pickUpBranchOffice.location.address}}</small><br></p>
               <p>{{datePipe.transform(reservation.pickUpDate, 'd/M/yy')}}
               </p>
            </div>

            <div class="col-auto pr-0">
               <i class="fas fa-arrow-right"></i>
            </div>
            <div class="col-2 pt-4" align="center">
               <i class="fas fa-car"></i><br>
               <small>{{reservation.car.brand}} {{reservation.car.model}}</small><br>
               <small class="text-muted">{{reservation.car.type}}</small>
               <br>
               <rating [(ngModel)]="reservation.car.averageRating" [max]="max" [readonly]="reservation.isCarRated"
                  (click)="rateCar()"></rating>
            </div>
            <div class="col-auto pl-0">
               <i class="fas fa-arrow-right"></i>
            </div>
            <div class="col-3 pt-4" style="padding-top:34px;" align="center">

               <p>{{reservation.dropOffBranchOffice.location.city}}, {{reservation.dropOffBranchOffice.location.country}}
                  <br> <small>{{reservation.dropOffBranchOffice.location.address}}</small><br></p>

               <p>{{datePipe.transform(reservation.dropOffDate, 'd/M/yy')}}
               </p>
            </div>
            <div class="col-1 border-left px-1 py-5" align="center">
               <p class="py-6" style="font-size: 35px; color: #33cabb">€{{totalPrice}}</p>
               
               <button class="btn btn-primary" *ngIf="reservation.active" (click)="cancelCarReservation()">Cancel</button>
               <p class="py-6" *ngIf="!reservation.active" style="color: gray">Canceled</p>

            </div>
         </div>
      </div>
   </div>
</div>