<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Change <b style="color: #33cabb;">password</b></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form>

          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" class="form-control" name="password" placeholder="New Password" required="required">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm New Password" required="required">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Current Password" required="required">
              </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Change password</button>
    </div>

  </div>
</div>