<div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Edit <b style="color: #33cabb;">rent-a-car-company</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <form name="form">

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Company name" required="required"  [(ngModel)]="carCompany.name" name="name">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="address" placeholder="Address" required="required" name="address" #search>
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-sticky-note" aria-hidden="true"></i>
                  </span>
                </div>
                <textarea class="form-control" name="description"  [(ngModel)]="carCompany.description" name="description" placeholder="Insert your description here..."></textarea>
            </div>


        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeBtn>Close</button>
        <button type="button" class="btn btn-primary" (click)="onCarCompanyEdit()">Edit</button>
      </div>

    </div>
  </div>
