<div style="margin: 20px; padding: 20px">

        <div class="profile">
        <div style="display: table-cell; width: auto; background-size: cover; background-image: url(assets/images/user_profile/profile.jpeg)"></div>
        <div style="display: table-cell; width: 800px;background: #ffffff; padding: 10px; position: relative">
          <h1 id="name">{{user.firstName}} {{user.lastName}}</h1>
          <hr/>
          <i class="fa fa-envelope" aria-hidden="true"></i><b>Email: </b>{{user.email}} <br/>
          <i class="fa fa-phone" aria-hidden="true"></i><b>Phone number: </b>{{user.phoneNumber}}<br/>
          <i class="fa fa-map-marker" aria-hidden="true"></i><b>Address: </b>{{user.address}}<br/>

         <div class="btn-toolbar pull-right " role="toolbar" style="position: absolute; right: 10px; bottom:10px">
            <div class="btn-group mr-2" role="group">
                <app-change-password-form></app-change-password-form>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn  btn-primary btn-block mr-2" (click)="openEditModal()">Change information</button>
            </div>
          </div>

        </div>
      </div>

</div>
