<form name="form" [formGroup]="rentForm" (validSubmit)="onSearch()">

  <div class="row">

    <div class="col-sm-4">

      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-calendar-alt" aria-hidden="true"></i>
          </span>
        </div>
        <input class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig' bsDaterangepicker
          formControlName="bsRangeValue" (ngModelChange)="onChange($event)">
      </div>

      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          </span>
        </div>
        <select formControlName="type" class="form-control" required="required">
          <option value="Sedan">Sedan</option>
          <option value="SUV">SUV</option>
          <option value="People Carrier/MPV">People Carrier/MPV</option>
          <option value="Convertible">Convertible</option>
        </select>
      </div>


    </div>

    <div class="col-sm-4">

      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
        </div>
        <select class="form-control" placeholder="Pick up location" required="required" formControlName="pickUpBranchOffice">
          <option *ngFor="let branchOffice of branchOffices" value="{{branchOffice.id}}">{{branchOffice.location.address}}</option>
        </select>
      </div>



      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-male" aria-hidden="true"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Number of passengers" formControlName="numberOfPassengers">
      </div>

    </div>

    <div class="col-sm-4">
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
          </span>
        </div>
        <select class="form-control" placeholder="Drop off location" required="required" formControlName="dropOffBranchOffice">
          <option *ngFor="let branchOffice of branchOffices" value="{{branchOffice.id}}">{{branchOffice.location.address}}</option>
        </select>
      </div>

      <div class="input-group form-group">          
        <ng5-slider formControlName="priceRange" [(value)]="minValue" [(highValue)]="maxValue" [options]="options" #ng5></ng5-slider>
      </div>

    </div>


    <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
      {{errorMessage}}
    </div>

    <input type="submit" class="btn btn-primary" style="margin:auto;display:block" value="Search" />

  </div>
</form>

<div class="container">
  <div *ngFor="let car of visibleCars">
    <app-car-basic-info [isCarsTab]='false' [car]='car' (carRented)='carRented($event)'></app-car-basic-info>
  </div>
</div>