<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="promo" style="background-image: url(assets/images/banner/1.jpeg);">
        <div class="jumbotron">
          <h1>
            <span>Where</span>
            <b> to fly?</b>
          </h1>
          <p>Travel isn't always pretty. It isn't always comfortable.
            <br/> But we try our best to make it.
          </p>
          <p>
            <a role="button" class="btn btn-primary" routerLink="/find-flight">Find ticket</a>
          </p>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="promo" style="background-image: url(assets/images/banner/2.jpeg);">
        <div class="jumbotron">
          <h1>
            <span>Where </span>
            <b> to stay?</b>
          </h1>
          <p>Fear not wonderlust-stricken soul. Whether you've saved up €500 or €5000 there's a room out there for you.
            <br/> Using our search you can find a room for almost any budget.
          </p>
          <p>
            <a role="button" class="btn btn-primary" routerLink="/find-room">Find hotel</a>
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="promo" style="background-image: url(assets/images/banner/3.jpeg);">
        <div class="jumbotron">
          <h1>
            <span>Need </span>
            <b> a car?</b>
          </h1>
          <p>Don't wait until you land to find your airport shuttle.
            <br/> Enjoy your trip to any destination and book free in advance with car just for you!
          </p>
          <p>
            <a role="button" class="btn btn-primary" routerLink="/find-car">Rent a car</a>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>
