<button type="button" class="btn  btn-primary btn-block mr-2 " (click)="openModal()">Change password</button>

<ng-template #changePasswordModal>
    <div class="modal-header">
      <h5 class="modal-title">Change <b style="color: #33cabb;">password</b></h5>
      <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close" *ngIf="jwtToken.length == 0">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>


    <form (validSubmit) = "onChangePassword()" [formGroup]="editForm">
    <div class="modal-body">
      <p class="hint-text" style="text-align: center" *ngIf="jwtToken.length > 0" >
        You must change your password for access to be allowed.
      </p>
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" formControlName="newPassword" class="form-control" name="newPassword" placeholder="New Password" required="required">
            </div>
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
              </div>
              <input type="password" formControlName="confirmNewPassword" class="form-control" name="confirmNewPassword" placeholder="Confirm New Password" required="required">
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="password" formControlName="oldPassword" class="form-control" name="currentPassword" placeholder="Current Password">
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
                  {{errorMessage}}
              </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()" *ngIf="jwtToken.length == 0" >Close</button>
      <input type="submit" class="btn btn-primary" value="Change Password">
    </div>
  </form>
</ng-template>

