<div style="padding: 1%" class="container">
  <!-- Button trigger modal -->
  <div *ngIf="tokenService.isSysAdmin" style="align-content: center" div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn btn-primary" (click)="openNewCarCompanyModal()">
        Add new company
      </button>
    </div>
  </div>

  <hr>

  <app-car-company-basic-details *ngFor="let cmp of companies" [carCompany] = 'cmp' class="row border rounded align-items-center p-1 mt-3"></app-car-company-basic-details>
</div>
