<app-banner></app-banner>

<div class="container mt-3">

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-9">
      <h2 class="featurette-heading">Get a discount for travelling with us.<span class="text-muted"> Because you deserve it.</span></h2>
      <p class="lead" style="text-align: justify">Our goal is to help you reach your destination. We want to you to explore every corner of this world.
        Therefore, we offer all our users a permanent 10% discount on all their future trips, once they travel 10000 kilometers with us.
      </p>
    </div>
    <div class="col-md-3">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/100x100/auto" alt="250x250" style="width: 250px; height: 250px;" src="assets/images/home-page/image1.jpg" data-holder-rendered="true">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-3">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/100x100/auto" alt="250x250" style="width: 250px; height: 250px;" src="assets/images/home-page/image2.jpg" data-holder-rendered="true">
    </div>
    <div class="col-md-9">
      <h2 class="featurette-heading">The more you take,<span class="text-muted"> the more you get.</span></h2>
      <p class="lead" style="text-align: justify"> Here at <b>Ticket</b>Reservation we want you to travel worry free. If you're tired of worrying
        where to stay and how to transfer yourself once you get to your destination, book a room with us and rent a car. All bundle deals get 5% discount.
      </p>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
      <div class="col-md-9">
        <h2 class="featurette-heading">Everything is better<span class="text-muted"> with right company</span></h2>
        <p class="lead" style="text-align: justify"> The only way to make good things even better is to share them with right people.
          Plan a trip and invite your friends, right now!
        </p>
      </div>
      <div class="col-md-3">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/100x100/auto" alt="250x250" style="width: 250px; height: 250px;" src="assets/images/home-page/image3.jpg" data-holder-rendered="true">
      </div>
    </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

</div>
