<div class="card mb-3">
  <table>
    <tr>
      <td>
          <div style="height: 100%; width: 100%">
              //TODO: Dodati mapu
          </div> 
      </td>
      <td>
          <div class="card-body">
              <h3 class="mb-0">
                  <a class="text-dark" href="#">{{hotel.name}}</a>
              </h3>
              <div class="mb-1 text-muted">TODO Staviti adresu ovde</div>
              <p class="card-text mb-auto">{{hotel.description}}</p>
              <a routerLink="/hotel/{{hotel.id}}">More about hotel...</a>
          </div>
      </td>
    </tr>
  </table>
</div>
