<div class="row border rounded align-items-center p-2 mt-2">
  <div class="col-sm-3 pt-2" align="center">
    <img src="assets/images/car/car.png" class="rounded-circle">
  </div>
  <div class="col-sm-5 pt-2 border-left p-3" align="center">
      <p style="font-size: 22px;">Room
          <br><small class="text-muted">No. {{room.roomNumber}}</small>
          </p>
          <hr>
      <div>
          <i class="fa fa-male" aria-hidden="true"></i>{{room.floor}} Floor
          <br> <i class="fa fa-calendar-alt" aria-hidden="true"></i>{{room.numberOfBeds}} Beds
      </div>      
  </div>
  
  <div class="col border-left p-3" align="center">
      <p style="font-size: 45px; color:  #33cabb;">€{{room.price}}</p>
      <hr>
      <button class="btn btn-primary px-4 m-2" data-toggle="modal" data-target="#editCar">Edit</button>
      <button class="btn btn-primary px-4 m-2">Rent</button>
  </div>  
</div>