<div class="col">
      <div class="media">
            <app-map [location]="hotel.location" class="align-self-start mr-4 pt-2"></app-map>
            <div class="media-body pr-3">
                  <h3 class="display-4" align="left">{{hotel.name}}</h3>
                  <p class="text-muted" align="left">{{hotel.location.address}}, {{hotel.location.city}},
                        {{hotel.location.country}}</p>
                  <hr>
                  <a routerLink="/hotel/{{hotel.id}}">Details...</a>
            </div>
      </div>
</div>