<div class="modal-header">
  <h5 class="modal-title">Add new <b style="color: #33cabb;">branch office</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" [formGroup]="newBranchOfficeForm" (validSubmit)="onBranchOfficeAdd()">
  <div class="modal-body">
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-briefcase" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Branch office name" required="required" formControlName="name">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Address" required="required"
      formControlName="address">
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
      {{errorMessage}}
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    <input type="submit" class="btn btn-primary" value="Add" />
  </div>
</form>