<div class="modal-header">
  <h5 class="modal-title">Add <b style="color: #33cabb;">admin</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form (validSubmit)="onCarCompanyAdminAdd()" [formGroup]="newCarCompanyAdminForm">
  <div class="modal-body">

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-envelope" aria-hidden="true"></i>
        </span>
      </div>
      <input type="email" class="form-control" name="email" placeholder="email@email.com" required="required"
        formControlName="email">
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-address-book" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" name="firstName" placeholder="First Name" required="required"
        formControlName="firstName">
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-address-book" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" name="lastName" placeholder="Last Name" required="required"
        formControlName="lastName">
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" name="address" placeholder="Address" required="required" formControlName="address">
    </div>
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-phone" aria-hidden="true"></i>
        </span>
      </div>
      <input type="tel" class="form-control" name="phoneNumber" placeholder="Phone Number" required="required"
        formControlName="phoneNumber">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-hotel" aria-hidden="true"></i>
        </span>
      </div>
      <select class="form-control" name="carcompany" placeholder="Car company" required="required" formControlName="carcompany">
        <option *ngFor="let carcompany of carcompanies" value="{{carcompany.id}}">{{carcompany.name}}</option>
      </select>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
      {{errorMessage}}
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    <input type="submit" class="btn btn-primary" value="Add" />
  </div>
</form>