<div style="padding: 1%" class="container">
    <small class="class=" text-muted> Find available flights when <b>You</b> need them: </small>
    <hr>

    <!--search-->
    <form name="form" [formGroup]="searchForm" (validSubmit)="search()">
        <div class="row">
            <div class="col-3 input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-plane-departure" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input formControlName="departureAirport" type="text" class="form-control" placeholder="Departure airport">
            </div>
            <div class="col-3 input-group form-group">
              <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="fa fa-plane-arrival" aria-hidden="true"></i>
                  </span>
              </div>
              <input formControlName="arrivalAirport" type="text" class="form-control" placeholder="Arrival airport">
            </div>
            <div class="col-3 input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fa fa-male" aria-hidden="true"></i>
                    </span>
                </div>
                <input formControlName="numberOfPeople" type="text" class="form-control" placeholder="Number of people">
            </div>
            <div class="col-3 input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                        </span>
                    </div>
                    <input formControlName="dates" class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig'
                        bsDaterangepicker placeholder="Departure date from to">
             </div>
        </div>

        <div class="row justify-content-md-center">
          <div class="col-2 ml-0">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-euro-sign" aria-hidden="true"></i>
                </span>
              </div>
              <input formControlName="minPrice" type="text" class="form-control" placeholder="Min price">
            </div>
          </div>
          <div class="col-auto p-0 m-0">
              -
          </div>
          <div class="col-2 mr-0">
            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-euro-sign" aria-hidden="true"></i>
                </span>
              </div>
              <input formControlName="maxPrice" type="text" class="form-control" placeholder="Max price">
            </div>
          </div>
        </div>

        <div class="alert alert-danger row" role="alert" *ngIf="errorMessage.length != 0">
          {{errorMessage}}
        </div>

        <div class="row">
          <div class="container-fluid">
              <div class="col-sm-12 text-center">
                  <input type="submit" class="btn btn-primary btn-space" value="Search" />
                  <button type="button" class="btn btn-primary btn-space" (click)="cancelSearch()"> Cancel </button>
              </div>
          </div>
        </div>
    </form>

    <br>

    <!--filtracija-->
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseOne">
                    Filter
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    <form name="form">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="input-group form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1" [(ngModel)]="additionalServicesNeeded">
                                        <label class="custom-control-label" for="customCheck">Additional services?</label>
                                    </div>
                                </div>
                                <br>
                                <div class="input-group form-group">
                                    <ng5-slider [(value)]="minCarryOnBags" [options]="optionsCarryOnBags"></ng5-slider>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="input-group form-group">
                                    <ng5-slider [(value)]="minCheckInBaggage" [options]="optionsCheckInBaggage"></ng5-slider>
                                </div>
                                <!--for stops-->
                                <div class="input-group form-group">
                                    <ng5-slider [(value)]="maxStops" [options]="optionsNumber"></ng5-slider>
                                </div>
                            </div>

                            <div class="container-fluid">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary btn-space" (click)="filter()"> Filter </button>
                                    <button type="button" class="btn btn-primary btn-space" (click)="cancelFilter()"> Cancel </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <!--Prikaz letova-->
        <div class="text-center mt-3" *ngIf="!isSearchActive" >
          <p>Try searching something! </p>
        </div>
        <div class="text-center mt-3" *ngIf="isSearchActive && isFilterActive">
          <p>Showing filtered results.</p>
        </div>
        <div class="text-center mt-3" *ngIf="isSearchActive">
          <p>{{filteredFlights.length}} matches found.</p>
        </div>
        <div class="container mt-3" *ngIf="isSearchActive">
          <app-fight-basic-info *ngFor="let item of filteredFlights" [flight]="item"></app-fight-basic-info>
        </div>
    </div>
