<div style="margin: 20px; padding: 20px">
  <ul class="nav nav-tabs">
      <li class = "nav-item active">
        <a href = "#info" role="tab" data-toggle="tab" class = "nav-link active">
          <i class="fa fa-info" aria-hidden="true"></i>Info
        </a>
      </li>
      <li class = "nav-item">
        <a href = "#services" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-tag" aria-hidden="true"></i>Services
        </a>
      </li>
      <li class = "nav-item" *ngIf="tokenService.isAirAdmin">
          <a href = "#airplanes" role="tab" data-toggle="tab" class = "nav-link">
            <i class="fa fa-plane" aria-hidden="true"></i>Airplanes
          </a>
        </li>
      <li class = "nav-item">
        <a href = "#destinations" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-map-marked-alt" aria-hidden="true"></i>Destinations
        </a>
      </li>
      <li class = "nav-item">
          <a href = "#flights" role="tab" data-toggle="tab" class = "nav-link">
            <i class="fa fa-plane-departure" aria-hidden="true"></i>Flights
          </a>
      </li>
  </ul>

  <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active p-3" id="info" aria-labelledby="info-tab">
        <div class="media">
          <img src="//placehold.it/200x150" class="align-self-start mr-4 pt-2" alt="...">
          <div class="media-body pr-3">
                <h3 class="display-4" align="left">{{airCompany.name}}</h3>
                <p class="text-muted" align="left">Adresa</p>
                <hr>
                <p>{{airCompany.description}}</p>
                <div align = "right" *ngIf="tokenService.isAirAdmin">
                  <button class="btn btn-primary float-right" (click)="openEditAirCompanyModal()"><i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
                </div>
        </div>
      </div>
      </div>

      <div class="tab-pane fade" id="services" aria-labelledby="services-tab">
          <app-additional-services-table></app-additional-services-table>
      </div>

      <div class="tab-pane fade" id="destinations" aria-labelledby="destinations-tab">
          <div *ngIf="tokenService.isAirAdmin" style="align-content: center" div class="row mb-3">
              <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" (click)="openAddDestinationModal()">
                  Add new destination
                </button>
              </div>
          </div>
          <div class="container">
            <div *ngIf="airCompany.destinations.length == 0 else destinationsDiv" class="text-center">
                <p>There are no destinations.</p>
            </div>
            <ng-template #destinationsDiv>
              <div class="row pt-4 justify-content-md-center" >
                <app-destination *ngFor="let item of airCompany.destinations" class="col-md-5 col-lg-4" [destination]="item" [airportId]="airCompany.id" (destinationEvent) = "onDeleteDestination($event)"></app-destination>
              </div>
            </ng-template>
          </div>
      </div>

      <div class="tab-pane fade" id="airplanes" aria-labelledby="airplanes-tab">
        <div class="container mb-3">
          <div class="col-12 text-center">
              <button type="button" class="btn btn-primary" (click)="openAddAirplaneModal()">
                Add new airplane
              </button>
          </div>
        </div>
        <div class = "container">
          <div *ngIf="airplanes.length == 0 else airplanesDiv" class="text-center">
              <p>There are no airplanes.</p>
          </div>
          <ng-template #airplanesDiv>
          <div class ="row" *ngFor="let item of airplanes">
            <app-airplane-display [airplane]=item [companyId]=airCompany.id (airplaneEvent)="onDeleteAirplane($event)"  class="col-12 mb-3"></app-airplane-display>
          </div>
          </ng-template>
        </div>
      </div>

      <div class="tab-pane fade" id="flights" aria-labelledby="flights-tab">
          <div class="container">
            <app-fight-basic-info></app-fight-basic-info>
            <app-fight-basic-info></app-fight-basic-info>
            <app-fight-basic-info></app-fight-basic-info>
          </div>
      </div>

  </div>
</div>
