<div style="margin: 20px; padding: 20px">
  <ul class="nav nav-tabs">
      <li class = "nav-item active">
        <a href = "#info" role="tab" data-toggle="tab" class = "nav-link active">
          <i class="fa fa-info" aria-hidden="true"></i>Info
        </a>
      </li>
      <li class = "nav-item">
        <a href = "#services" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-suitcase" aria-hidden="true"></i>Baggage informations
        </a>
      </li>
      <li class = "nav-item" *ngIf="tokenService.isAirAdmin && tokenService.companyId == airCompany.id">
          <a href = "#airplanes" role="tab" data-toggle="tab" class = "nav-link">
            <i class="fa fa-plane" aria-hidden="true"></i>Airplanes
          </a>
        </li>
      <li class = "nav-item">
        <a href = "#destinations" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-map-marked-alt" aria-hidden="true"></i>Destinations
        </a>
      </li>
      <li class = "nav-item">
          <a href = "#flights" role="tab" data-toggle="tab" class = "nav-link">
            <i class="fa fa-plane-departure" aria-hidden="true"></i>Flights
          </a>
      </li>
      <li class = "nav-item">
          <a href = "#fastreservations" role="tab" data-toggle="tab" class = "nav-link">
            <i class="fa fa-business-time" aria-hidden="true"></i>Fast reservations
          </a>
      </li>
      <li class = "nav-item" *ngIf="tokenService.isAirAdmin && tokenService.companyId == airCompany.id">
          <a href = "#admininfo" role="tab" data-toggle="tab" class = "nav-link">
            <i class="fa fa-info" aria-hidden="true"></i>Admin info
          </a>
      </li>
  </ul>

  <div class="tab-content" id="myTabContent">

      <!------------------------------------------------------------------------------->
      <!---------------------------BASIC INFO------------------------------------------>
      <!------------------------------------------------------------------------------->
      <div class="tab-pane fade show active p-3" id="info" aria-labelledby="info-tab">
        <div class="media">
          <app-map [location]="airCompany.location" class="align-self-start mr-4 pt-2"></app-map>
          <div class="media-body pr-3">
              <div class="d-flex">
                  <div class="p-2"><h3 class="display-4" align="left">{{airCompany.name}}</h3></div>
                  <div class="ml-auto p-2"><rating  [(ngModel)]="airCompany.averageRating" [max]="5" [readonly]="true"></rating></div>
              </div>
                <p class="text-muted" align="left">{{airCompany.location.address}}, {{airCompany.location.city}}, {{airCompany.location.country}}</p>
                <hr>
                <p>{{airCompany.description}}</p>
                <div align = "right" *ngIf="tokenService.isAirAdmin  && tokenService.companyId == airCompany.id">
                  <button class="btn btn-primary float-right" (click)="openEditAirCompanyModal()"><i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
                </div>
          </div>
          </div>
      </div>

      <!------------------------------------------------------------------------------->
      <!---------------------------BAGGAGE INFORMATION--------------------------------->
      <!------------------------------------------------------------------------------->
      <div class="tab-pane fade" id="services" aria-labelledby="services-tab">
        <div *ngIf="tokenService.isAirAdmin  && tokenService.companyId == airCompany.id" style="align-content: center" div class="row mb-3">
          <div class="col-12 text-center">
            <button type="button" class="btn btn-primary" (click)="openBaggageModal()">
              Add new baggage information
            </button>
          </div>
        </div>
        <app-additional-services-table [companyId]="id" [additionalServices]="airCompany.baggageInformation" (deleteEmitter)='deleteBaggage($event)' (editEmitter)='editBaggage($event)'></app-additional-services-table>
      </div>


      <!------------------------------------------------------------------------------->
      <!---------------------------DESTINATIONS---------------------------------------->
      <!------------------------------------------------------------------------------->
      <div class="tab-pane fade" id="destinations" aria-labelledby="destinations-tab">
          <div *ngIf="tokenService.isAirAdmin  && tokenService.companyId == airCompany.id" style="align-content: center" div class="row mb-3">
              <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" (click)="openAddDestinationModal()">
                  Add new destination
                </button>
              </div>
          </div>
          <div class="container">
            <div *ngIf="airCompany.destinations.length == 0 else destinationsDiv" class="text-center">
                <p>There are no destinations.</p>
            </div>
            <ng-template #destinationsDiv>
              <div class="row pt-4 justify-content-md-center" >
                <app-destination *ngFor="let item of airCompany.destinations" class="col-md-5 col-lg-4" [destination]="item" [airportId]="airCompany.id" (destinationEvent) = "onDeleteDestination($event)"></app-destination>
              </div>
            </ng-template>
          </div>
      </div>


      <!------------------------------------------------------------------------------->
      <!---------------------------AIRPLANES------------------------------------------->
      <!------------------------------------------------------------------------------->
      <div class="tab-pane fade" id="airplanes" aria-labelledby="airplanes-tab">
        <div *ngIf="tokenService.isAirAdmin  && tokenService.companyId == airCompany.id" class="container mb-3">
          <div class="col-12 text-center">
              <button type="button" class="btn btn-primary" (click)="openAddAirplaneModal()">
                Add new airplane
              </button>
          </div>
        </div>
        <div class = "container">
          <div *ngIf="airplanes.length == 0 else airplanesDiv" class="text-center">
              <p>There are no airplanes.</p>
          </div>
          <ng-template #airplanesDiv>
          <div class ="row" *ngFor="let item of airplanes">
            <app-airplane-display [airplane]=item [companyId]=airCompany.id (airplaneEvent)="onDeleteAirplane($event)"  class="col-12 mb-3"></app-airplane-display>
          </div>
          </ng-template>
        </div>
      </div>

      <!------------------------------------------------------------------------------->
      <!---------------------------FLIGHTS--------------------------------------------->
      <!------------------------------------------------------------------------------->
      <div class="tab-pane fade" id="flights" aria-labelledby="flights-tab">
          <app-flight-display [airCompanyId]="id" (ticketsCreated)="loadFastReservationTickets()"></app-flight-display>
      </div>

      <!------------------------------------------------------------------------------->
      <!---------------------------FAST RESERVATIONS----------------------------------->
      <!------------------------------------------------------------------------------->
      <div class="tab-pane fade" id="fastreservations" aria-labelledby="airplanes-tab">
          <div class = "container">
            <div *ngIf="fastResTickets.length == 0 else fastResTicketsDiv" class="text-center">
                <p>There are no tickets for fast reservations.</p>
            </div>
            <ng-template #fastResTicketsDiv>
            <div class ="row" *ngFor="let item of fastResTickets">
              <app-fast-ticket-display class="col-12 mb-3" [fastTicket]="item" (ticketDeleted)="onTicketDeleted($event)"></app-fast-ticket-display>
            </div>
            </ng-template>
          </div>
        </div>

        <!------------------------------------------------------------------------------->
        <!---------------------------ADMIN INFO------------------------------------------>
        <!------------------------------------------------------------------------------->
        <div class="tab-pane fade" id="admininfo" aria-labelledby="admininfo" *ngIf="tokenService.isAirAdmin  && tokenService.companyId == airCompany.id">
            <div id="accordion">

              <div class="card">
                <div class="card-header">
                  <a class="card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseOne">
                    Sold tickets per month
                  </a>
                </div>
                <div id="collapseOne" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <app-monthly-income-chart *ngIf="monthly" [monthly]="monthly.monthly" [type]="'bar'"></app-monthly-income-chart>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseTwo">
                    Sold tickets per week
                  </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                    <app-weekly-income-chart *ngIf="weekly" [weekly]='weekly.weekly' [type]="'bar'"></app-weekly-income-chart>
                  </div>
                </div>
              </div>

              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseThree">
                    Sold tickets per day
                  </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                      <app-daily-income-chart *ngIf="daily" [daily]='daily.daily' [type]="'bar'"></app-daily-income-chart>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header">
                  <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseFour">
                    Income info
                  </a>
                </div>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                  <div class="card-body">
                      <form class="form-inline" [formGroup]="form" (validSubmit)="getIncome()">
                          <p style="color: gray;">Select the period in which you want to calculate the income:</p>
                          <div class="form-group mx-sm-3 mb-2">
                              <input class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig' bsDaterangepicker
                              formControlName="dates" placeholder="from - to">
                          </div>
                          <input type="submit" class="btn btn-primary mb-2" value="Get income"/>
                          <p style="font-size: 25px; color:  #33cabb;" class="ml-5">{{income}}</p>
                          <p style="font-size: 25px; color:  #33cabb;" class="ml-5" *ngIf="!income" >There was no income in this period.</p>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

  </div>
</div>
