.fa{
    color: #33cabb;
    width: 15px;
    margin: 5px;
}

button>.fa{
    color: #fff;
    width: 15px;
    margin-left: 3px;
    margin-right: 10px;
}

.tab-content{

    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0;
}

.col-md-5{
  margin-bottom: 30px;
}
