<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please check your email and confirm registration!
</div>

<ng-template #signupForm>
<form [formGroup]="registerForm" (validSubmit)="onSignup()" name="form" >
  <p class="hint-text">Fill in this form to create your account!

  </p>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" required="required" formControlName="email" >
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="required" formControlName="firstName">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="required" formControlName="lastName">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" id="address" name="address" placeholder="Address" required="required" formControlName="address">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </span>
    </div>
    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required="required" formControlName="phoneNumber">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required" formControlName="password" >
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control" id="matchingPassword" name="matchingPassword" placeholder="Confirm Password" required="required" formControlName="matchingPassword">
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
      {{errorMessage}}
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
</form>
</ng-template>
