<div *ngFor="let row of flight.tickets; let i = index" align="center">
  <span [tooltip]="tt" placement="left" *ngFor="let item of row; let j = index"
    [class.mr-5]="(j+1)%flight.airplane.seatsPerCol === 0 && (j+1)!= row.length"
    [ngClass]="item.seat.seatClass"
    class="seat px-2 py-1 rounded">
    <span *ngIf="(!useCheckboxes || item.status!='AVAILABLE') && !seatDisabler" class="status"> {{item.status.charAt(0)}} </span>
    <input type="checkbox" *ngIf="useCheckboxes && item.status=='AVAILABLE'  && !seatDisabler"  (change)="onTicketChecked($event, item)"/>

    <span *ngIf="seatDisabler && (item.status=='FAST_RESERVATION' || item.status=='RESERVED')" class="status"> {{item.status.charAt(0)}} </span>
    <input type="checkbox" *ngIf="seatDisabler && (item.status=='AVAILABLE' || item.status=='UNAVIABLE')" [checked]="item.status=='UNAVIABLE'"  (change)="onTicketChecked($event, item)"/>

    <ng-template #tt>
      Ticket status: <b>{{item.status}}</b> <br/>
      Seat class: <b>{{item.seat.seatClass}}</b> <br/>
      Column: <b>{{item.seat.colNum}}</b> <br/>
      Row: <b>{{item.seat.rowNum}}</b> <br>
      Price: <b>{{item.price - item.discount}}</b> <br>
    </ng-template>
  </span>
</div>
