<form name="form" [formGroup]="bookForm" (validSubmit)="onSearch()">

  <div class="row">
    <div class="col-sm-6">
      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-calendar-alt" aria-hidden="true"></i>
          </span>
        </div>
        <input (ngModelChange)="onChange($event)" placeholder="Check in and check out date" class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig' bsDaterangepicker
          formControlName="bsRangeValue">
      </div>

      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
          </span>
        </div>
        <select formControlName="type" class="form-control" required="required">
          <option value='Regular'>Regular</option>
          <option value='Studio'>Studio</option>
          <option value='Apartman'>Apartman</option>
        </select>
      </div>
    </div>


    <div class="col-sm-6">

      <div class="input-group form-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-male" aria-hidden="true"></i>
          </span>
        </div>
        <input type="text" class="form-control" placeholder="Number of guests" formControlName="numberOfGuests">
      </div>

      <div class="input-group form-group">
        <ng5-slider formControlName="priceRange" [(value)]="minValue" [(highValue)]="maxValue" [options]="options" #ng5></ng5-slider>
      </div>

    </div>
    <input type="submit" class="btn btn-primary" style="margin:auto;display:block" value="Search" />

  </div>
</form>

<div class="container">
  <div *ngFor="let room of visibleRooms">
    <app-room-basic-info (roomBooked)='clickBook($event)' (roomUnbooked)='clickUnbook($event)' [isRoomsTab]='false' [room]='room' [bookedRooms]="bookedRooms"></app-room-basic-info>
  </div>
</div>

<br>
<br>

<p align="center" style="font-size: 35px; color:  #33cabb;">Please select some of our's best services</p>
<app-additional-services-table (xEmitter)="clickX($event)" (checkEmitter)="clickCheck($event)" [isAdditionalServicesTab]='false'  [additionalServices]="additionalServices"></app-additional-services-table>


<div class="row">
    <div class="col-sm-12">
        <div class="float-right">
            <button class="btn btn-primary" *ngIf="!tokenService.isHotelAdmin" (click)="completeBooking()">Add to cart</button>
        </div>
    </div>
 </div>
