<div class="row border rounded align-items-center p-2 mt-2">
    <div class="col-12 mb-2" *ngIf="tokenService.isAirAdmin && tokenService.companyId==flight.airCompanyBasicInfo.id" >
        <section style="text-align:right">
          <a placement="bottom" tooltip="Disable seats" class="edit" (click)="openDisableSeatsForm()"><i class="fa fa-couch"></i></a>
          <a placement="bottom" tooltip="Crete fast reservations" class="edit" *ngIf="flight.status == 'ACTIVE'" (click)="openCreateFastTicketsForm()"><i class="fa fa-ticket-alt"></i></a>
          <a placement="bottom" tooltip="Show flight to customers" class="edit" *ngIf="flight.status == 'IN_PROGRESS'" (click)="activateFlight()"><i class="fa fa-check"></i></a>
          <a placement="bottom" tooltip="Change prices" class="edit" (click)="openChangePricesForm()"><i class="fa fa-tag"></i></a>
          <a placement="bottom" tooltip="Edit" class="edit" (click)="openEditForm()" *ngIf="flight.status == 'IN_PROGRESS'"><i class="fa fa-edit"></i></a>
          <a placement="bottom" tooltip="Delete" class="delete" *ngIf="flight.status == 'IN_PROGRESS'" (click)="deleteFlight()"><i class="fa fa-trash"></i></a>
        </section>
    </div>
    <div class="col-sm-3 pt-2" align="center">
        <p>{{flight.destinations[0].destination.label}}
        <br><small class="text-muted">{{flight.destinations[0].destination.airportName}}, <br>
          {{flight.destinations[0].destination.city}}, {{flight.destinations[0].destination.country}}</small>
        </p>
        <hr>
        <p>{{flight.startDateAndTime}}</p>
    </div>
    <div class="col-auto  pl-0 pr-4">
        <i class="fa fa-plane-departure fa-2x"></i>
    </div>
    <div class="col-auto pt-3">
        <span class="badge badge-primary p-2">Duration: <br/> {{flight.duration}}</span>
        <p align="center"><small class="text-muted">{{flight.destinations.length - 2}} stops</small></p>
    </div>
    <div class="col-auto pl-0 pr-4">
        <i class="fa fa-plane-arrival fa-2x"></i>
    </div>
    <div class="col-sm-3 pt-2" align="center">
        <p>{{flight.destinations[flight.destinations.length-1].destination.label}}
        <br><small class="text-muted">{{flight.destinations[flight.destinations.length-1].destination.airportName}},<br>
          {{flight.destinations[flight.destinations.length-1].destination.city}}  {{flight.destinations[flight.destinations.length-1].destination.country}}</small>
        </p>
        <hr>
        <p>{{flight.endDateAndTime}}</p>
    </div>
    <div class="col border-left p-3" align="center">
        <p style="font-size: 45px; color:  #33cabb;">€{{flight.minPrice}}+</p>
        <hr>
        <a class="btn btn-primary px-4 m-2" routerLink="/flight/{{flight.id}}">Details</a>
    </div>
</div>
