<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Edit <b style="color: #33cabb;">room</b></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form name="form">
          <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                </span>
              </div>
              <select [(ngModel)]="room.type" class="form-control" name="type" required="required">
                <option value='Regular'>Regular</option>
                <option value='Apartman'>Apartman</option>
                <option value='Studio'>Studio</option>
              </select>
          </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-hashtag" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Room floor" required="required" [(ngModel)]="room.floor"
            name="floor">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-hashtag" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="roomNumber" placeholder="Room number" required="required"
            [(ngModel)]="room.roomNumber">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-bed" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="numberOfBeds" placeholder="Number of beds" required="required"
            [(ngModel)]="room.numberOfBeds">
        </div>

        <div class="input-group form-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-euro-sign" aria-hidden="true"></i>
            </span>
          </div>
          <input type="text" class="form-control" name="price" placeholder="Price per night" required="required"
            [(ngModel)]="room.price">
        </div>
      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
      <button type="button" class="btn btn-primary" (click)="onRoomEdit()">Edit</button>
    </div>

  </div>
</div>