<!--Jedna rezervacija (koja moze da sadrzi 3 male)-->
<div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <!--Ovde kao data target obavezno staviti id porduzbine-->
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#oznaka">
          Oznaka rezervacije: 21.2.2018.
        </button>
      </h2>
    </div>
    <!--Ovde obavezno kao id staviti id porduzbine-->
    <div id="oznaka" class="collapse m-2">
      <!--Dodati ng if ove da se ne prikazuje ako nema auto u rezervaciji npr-->
      <app-tickets-reservation></app-tickets-reservation>
      <app-hotel-reservation></app-hotel-reservation>
      <app-car-reservation></app-car-reservation>
    </div>
  </div>
