<!--Jedna rezervacija (koja moze da sadrzi 3 male)-->
<div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <div  *ngIf="inviteId" class="mx-2 my-2 row">
          <div class="col-9 mt-3">
            <h3 class="display-4" align="left" style="font-size: 14px">{{invitedBy}} invited you on a trip.</h3>
          </div>
          <div class="col-3" align="right" *ngIf="status == 'PENDING'" >
            <button class="mr-2 btn btn-primary" (click)="acceptInvite()">Accept</button>
            <button class="btn btn-primary" (click)="refuseInvite()">Refuse</button>
          </div>
          <div class="col-3 mt-3" align="right" *ngIf="status == 'ACCEPTED'" >
              <h3 class="display-4" align="right" style="font-size: 14px"> <i class="fas fa-check mr-3"></i>Offer accepted.</h3>
          </div>
          <div class="col-3 mt-3" align="right" *ngIf="status == 'REFUSED'" >
              <h3 class="display-4" align="right" style="font-size: 14px"> <i class="fas fa-times mr-3"></i> Offer refused.</h3>
          </div>
          <div class="col-3 mt-3" align="right" *ngIf="status == 'TRIP_CANCELED'" >
              <h3 class="display-4" align="right" style="font-size: 14px"> <i class="fas fa-times mr-3"></i> Trip is canceled.</h3>
          </div>
        </div>
        <hr *ngIf="inviteId">
        <!--Ovde kao data target obavezno staviti id porduzbine-->
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#r' + reservation.id">
         Date of reservation: {{date}}
        </button>
      </h2>
    </div>
    <!--Ovde obavezno kao id staviti id porduzbine-->
    <div [attr.id]="'r' + reservation.id" class="collapse m-2">
      <div class="card" style="border: solid #ffffff;">
        <table class="table table-bordered table-sm">
          <tr> <th>Price: </th> <td align="right">{{totalPrice}}€</td> </tr>
          <tr> <th>Discount: </th> <td align="right">{{reservation.discount*100}}%</td> </tr>
          <tr class="table-success"> <th>Total price: </th> <td align="right">{{this.totalPrice - this.reservation.discount * this.totalPrice}}€</td> </tr>
        </table>
      </div>
      <!--Dodati ng if ove da se ne prikazuje ako nema auto u rezervaciji npr-->
      <app-tickets-reservation *ngIf="reservation.flightReservation" [flightReservation]="reservation.flightReservation" [reservationId]="reservation.id" (cancelEvent)="onTripCanceled($event)" [useCancel]="inviteId==null"></app-tickets-reservation>
      <app-hotel-reservation *ngIf="reservation.roomReservation" [reservation]="reservation.roomReservation" [useCancel]="inviteId==null"></app-hotel-reservation>
      <app-car-reservation *ngIf="reservation.carReservation" [reservation]="reservation.carReservation" [useCancel]="inviteId==null"></app-car-reservation>
    </div>
  </div>
