<!--Jedna rezervacija (koja moze da sadrzi 3 male)-->
<div class="card">
    <div class="card-header">
      <h2 class="mb-0">
        <!--Ovde kao data target obavezno staviti id porduzbine-->
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#r' + reservation.id">
         Date of reservation: {{date}}
        </button>
      </h2>
    </div>
    <!--Ovde obavezno kao id staviti id porduzbine-->
    <div [attr.id]="'r' + reservation.id" class="collapse m-2">
      <!--Dodati ng if ove da se ne prikazuje ako nema auto u rezervaciji npr-->
      <app-tickets-reservation *ngIf="reservation.flightReservation" [flightReservation]="reservation.flightReservation"></app-tickets-reservation>
      <app-hotel-reservation *ngIf="reservation.roomReservation" [reservation]="reservation.roomReservation"></app-hotel-reservation>
      <app-car-reservation *ngIf="reservation.carReservation" [reservation]="reservation.carReservation"></app-car-reservation>
    </div>
  </div>
