<div class="card" style="border: solid #ffffff;">
    <div class="card-header p-0" style="border: solid #ffffff; background-color:#ffffff;">

        <div class="container">
            <div class="row border rounded align-items-center p-2 mt-3">
                <div class="col-2 border-right py-1" align="center">
                    <h3 class="display-4" style="font-size:22px;">
                        <a routerLink="/aircompany/{{flightReservation.flight.airCompanyBasicInfo.id}}">{{flightReservation.flight.airCompanyBasicInfo.name}}</a>
                    </h3>
                    <small class="text-muted">{{flightReservation.flight.airCompanyBasicInfo.location.city}}, {{flightReservation.flight.airCompanyBasicInfo.location.country}}</small>
                    <p class="pb-2 pt-1">
                        <rating [(ngModel)]="flightReservation.flight.airCompanyBasicInfo.averageRating" [max]="5" (click)="rateAirCompany()" [readonly]="flightReservation.isCompanyRated"></rating>
                    </p>
                 </div>
                <div class="col-3 pt-4" align="center">
                    <p>{{flightReservation.flight.destinations[0].destination.label}}
                        <br><small class="text-muted">{{flightReservation.flight.destinations[0].destination.airportName}}</small>
                        <br><small class="text-muted">{{flightReservation.flight.destinations[0].destination.city}}, {{flightReservation.flight.destinations[0].destination.country}}</small>
                    </p>
                    <p>{{flightReservation.flight.startDateAndTime}}</p>
                </div>
                <div class="col-auto pr-0">
                    <i class="fas fa-arrow-right"></i>
                 </div>
                <div class="col-2 pt-4" align="center">
                    <button class="btn btn-primary collapsed dropdown-toggle" data-toggle="collapse" [attr.data-target]="'#t' + flightReservation.id">Seats</button>
                    <br>
                    <rating [(ngModel)]="flightAverage" [max]="5" (click)="rateFlight()" [readonly]="flightReservation.isFlightRated"></rating>
                </div>
                <div class="col-auto pl-0">
                    <i class="fas fa-arrow-right"></i>
                 </div>
                <div class="col-3 pt-4" align="center">
                    <p>{{flightReservation.flight.destinations[flightReservation.flight.destinations.length-1].destination.label}}
                        <br><small class="text-muted">{{flightReservation.flight.destinations[flightReservation.flight.destinations.length-1].destination.airportName}}</small>
                        <br><small class="text-muted">{{flightReservation.flight.destinations[flightReservation.flight.destinations.length-1].destination.city}}, {{flightReservation.flight.destinations[flightReservation.flight.destinations.length-1].destination.country}}</small>
                    </p>
                    <p>{{flightReservation.flight.endDateAndTime}}</p>
                </div>
                <div class="col-1 border-left px-1 py-5" align="center">
                    <p class="py-6" style="font-size: 35px; color: #33cabb">{{flightReservation.total}}€</p>
                </div>
            </div>
        </div>

    </div>

    <!--Stavite ovde kao id seats+oznaka_rezervacije sedista-->
    <div [attr.id]="'t' + flightReservation.id" class="collapse p-4" style="border: solid #ffffff;">
        <section class="pricing-table">
            <div class="row justify-content-md-left">
                <div class="col-3 mt-2 ml" *ngFor="let item of flightReservation.ticketReservations">
                    <div class="item py-2" align="center">
                        <i class="fas fa-couch"></i>
                        <br>
                        <small>For: {{item.firstName}} {{item.lastName}}</small>
                        <br>
                        <small>Class: {{item.ticket.seat.seatClass}}</small>
                        <br>
                        {{item.inviteStatus}}
                        <small class="text-muted">Row: {{item.ticket.seat.rowNum}}, Column: {{item.ticket.seat.colNum}}</small><br>
                        <small *ngIf="item.inviteStatus == null || item.inviteStatus == 'ACCEPTED'" ><i class="fas fa-check"></i> Comming</small>
                        <small *ngIf="item.inviteStatus == 'PENDING'" ><i class="fas fa-spinner"></i> Pending...</small>
                        <small *ngIf="item.inviteStatus == 'REFUSED'" ><i class="fas fa-times"></i> Canceled</small>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
