<div class="card" style="border: solid #ffffff;">
    <div class="card-header p-0" style="border: solid #ffffff; background-color:#ffffff;">

        <div class="container">
            <div class="row border rounded align-items-center p-2 mt-3">
                <div class="col-2 border-right py-1" align="center">
                    <h3 class="display-4" style="font-size:22px;">
                        <a routerLink="">Naziv kompanije</a>
                    </h3>
                    <small class="text-muted">Grad, Drazava</small>
                    <p class="pb-2 pt-1">
                       <!--Zameni zvezdice onim vasim-->
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                       <i class="fas fa-star"></i>
                    </p>
                 </div>
                <div class="col-3 pt-4" align="center">
                    <p>Lokacija polaska
                        <br><small class="text-muted">Naziv areodroma</small>
                        <br><small class="text-muted">Dzaba krecili...</small>
                    </p>
                    <p>1/1/19</p>
                </div>
                <div class="col-auto pr-0">
                    <i class="fas fa-arrow-right"></i>
                 </div>
                <div class="col-2 pt-4" align="center">
                    <button class="btn btn-primary collapsed dropdown-toggle" data-toggle="collapse" data-target="#seats">Seats</button>
                    <br>
                    <!--Zameniti zvezadice-->
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="col-auto pl-0">
                    <i class="fas fa-arrow-right"></i>
                 </div>
                <div class="col-3 pt-4" align="center">
                    <p>Lokacija dolaska
                        <br><small class="text-muted">Naziv areodroma</small>
                        <br><small class="text-muted">Dzaba krecili...</small>
                    </p>
                    <p>1/1/19</p>
                </div>
                <div class="col-1 border-left px-1 py-5" align="center">
                    <p class="py-6" style="font-size: 35px; color: #33cabb">€150</p>
                </div>
            </div>
        </div>

    </div>

    <!--Stavite ovde kao id seats+oznaka_rezervacije sedista-->
    <div id="seats" class="collapse p-4" style="border: solid #ffffff;">
        <section class="pricing-table">
            <div class="row justify-content-md-left">
                <!--Ovaj div ispod je za ng for soba-->
                <div class="col-3 mb-0 ml">
                    <div class="item py-2" align="center">
                        <i class="fas fa-couch"></i>
                        <br>
                        <small>Class: economy</small>
                        <br>
                        <small class="text-muted">Row 3<br>Column 2</small>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
