<div style="margin: 20px; padding: 20px">
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a href="#info" role="tab" data-toggle="tab" class="nav-link active">
        <i class="fa fa-info" aria-hidden="true"></i>Info
      </a>
    </li>
    <li class="nav-item">
      <a href="#services" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-tag" aria-hidden="true"></i>Services
      </a>
    </li>
    <li class="nav-item">
      <a href="#rooms" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-hotel" aria-hidden="true"></i>Rooms
      </a>
    </li>
    <li class="nav-item">
      <a href="#book" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-book" aria-hidden="true"></i>Book
      </a>
    </li>
    <li class="nav-item">
      <a href="#admin-info" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-info" aria-hidden="true"></i>Admin info
      </a>
    </li>
    <li class="nav-item">
      <a href="#fast-rooms" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-business-time" aria-hidden="true"></i>Fast reservations
      </a>
    </li>

  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active p-3" id="info" aria-labelledby="info-tab">
      <div class="media">
        <app-map [location]="hotel.location" class="align-self-start mr-4 pt-2"></app-map>
        <div class="media-body pr-3">
          <h3 class="display-4" align="left">{{hotel.name}}</h3>
          <p class="text-muted" align="left">{{hotel.location.address}}, {{hotel.location.city}},
            {{hotel.location.country}}</p>
          <hr>
          <p>{{hotel.description}}</p>
          <div align="right">
            <button *ngIf="tokenService.isHotelAdmin" class="btn btn-primary float-right" (click)="openEditModal()"><i
                class="fa fa-edit" aria-hidden="true"></i>Edit</button>
          </div>
        </div>
      </div>

    </div>

    <!------------------------------------------------------------------------------->
    <!---------------------------SERVICES-------------------------------------------->
    <!------------------------------------------------------------------------------->

    <div class="tab-pane fade" id="services" aria-labelledby="services-tab">
      <div *ngIf="tokenService.isHotelAdmin" style="align-content: center" div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" (click)="openNewServiceModal()">
            Add new service
          </button>
        </div>
      </div>
      <app-additional-services-table [companyId]="hotelId" [isAdditionalServicesTab]='true' [additionalServices]="hotel.additionalServices"
        (editEmitter)='editClicked($event)' (deleteEmitter)='deleteClicked($event)' (fastEmitter)="fastAdd($event)"
        (fastRemoveEmitter)="fastRemove($event)"></app-additional-services-table>
    </div>


    <!------------------------------------------------------------------------------->
    <!---------------------------ROOMS----------------------------------------------->
    <!------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="rooms" aria-labelledby="rooms-tab">
      <div *ngIf="tokenService.isHotelAdmin" style="align-content: center" div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" (click)="openNewRoomModal()">
            Add new room
          </button>
        </div>
      </div>

      <div class="container">
        <div *ngFor="let room of hotel.rooms">
          <!-- Ako nije fast -->
          <app-room-basic-info *ngIf="!room.isFast" [isRoomsTab]="true" [room]='room' (roomDeleted)="roomDeleted($event)"
            (roomFasten)="roomFasten($event)"></app-room-basic-info>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------->
    <!---------------------------INFO FOR ADMIN-------------------------------------->
    <!------------------------------------------------------------------------------->
    <div *ngIf="tokenService.isHotelAdmin" class="tab-pane fade" id="admin-info" aria-labelledby="admin-info-tab">
      <!--rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating-->


      <div id="accordion">

        <div class="card">
          <div class="card-header">
            <a class="card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseOne">
              Monthly visitations
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <app-monthly-income-chart *ngIf="hotelMonthlyVisitation" [monthly]='hotelMonthlyVisitation.monthly'></app-monthly-income-chart>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseTwo">
              Weekly visitations

            </a>
          </div>
          <div id="collapseTwo" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <app-weekly-income-chart *ngIf="hotelWeeklyVisitation" [weekly]='hotelWeeklyVisitation.weekly'></app-weekly-income-chart>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseThree">
              Daily visitations
            </a>
          </div>
          <div id="collapseThree" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <app-daily-income-chart *ngIf="hotelDailyVisitation" [daily]='hotelDailyVisitation.daily'></app-daily-income-chart>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseFour">
              Income info
            </a>
          </div>
          <div id="collapseFour" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <div class="row ">
                <div class="col-sm-5">
                  <p style="color: gray;">Select the period in which you want to calculate the income:</p>
                </div>
                <div class="col-sm-4">
                  <input class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig' bsDaterangepicker
                    [(ngModel)]="bsRangeValue">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-primary" (click)="getIncome()">Get income</button>

                </div>
                <div class="col-sm-1">
                  <p style="font-size: 25px; color:  #33cabb;">{{income}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------->
    <!-------------------------------BOOK-------------------------------------------->
    <!------------------------------------------------------------------------------->

    <div class="tab-pane fade" id="book" aria-labelledby="book-tab">
      <app-book-form [hotelId]="hotelId" [rooms]='hotel.rooms' [additionalServices]='hotel.additionalServices'></app-book-form>
    </div>

    <!------------------------------------------------------------------------------->
    <!-------------------------------FAST-------------------------------------------->
    <!------------------------------------------------------------------------------->

    <div class="tab-pane fade" id="fast-rooms" aria-labelledby="airplanes-tab">
      <div class="container">
        <div *ngIf="fastRooms.length == 0 else fastResRoomsDiv" class="text-center">
          <p>There are no rooms for fast reservations.</p>
        </div>
        <ng-template #fastResRoomsDiv>
          <div class="row" *ngFor="let item of fastRooms">
            <app-fast-room-display [isHotelTab]="true" class="col-12 mb-3" [room]="item" (roomSlowed)="roomSlowed($event)" [hotelId]="hotelId"></app-fast-room-display>
          </div>
        </ng-template>
      </div>
    </div>

  </div>
</div>