<div style="margin: 20px; padding: 20px">
  <ul class="nav nav-tabs">
    <li class="nav-item active">
      <a href="#info" role="tab" data-toggle="tab" class="nav-link active">
        <i class="fa fa-info" aria-hidden="true"></i>Info
      </a>
    </li>
    <li class="nav-item">
      <a href="#services" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-tag" aria-hidden="true"></i>Services
      </a>
    </li>
    <li class="nav-item">
      <a href="#rooms" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-hotel" aria-hidden="true"></i>Rooms
      </a>
    </li>
    <li class="nav-item">
      <a href="#book" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-book" aria-hidden="true"></i>Book
      </a>
    </li>
    <li class="nav-item">
      <a href="#admin-info" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-info" aria-hidden="true"></i>Admin info
      </a>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active p-3" id="info" aria-labelledby="info-tab">
      <div class="media">
        <img src="//placehold.it/200x150" class="align-self-start mr-4 pt-2" alt="...">
        <div class="media-body pr-3">
          <h3 class="display-4" align="left">{{hotel.name}}</h3>
          <p class="text-muted" align="left">Adresa</p>
          <hr>
          <p>{{hotel.description}}</p>
          <div align="right">
            <button *ngIf="tokenService.isHotelAdmin" class="btn btn-primary float-right" (click)="openEditModal()"><i class="fa fa-edit" aria-hidden="true"></i>Edit</button>
          </div>
        </div>
      </div>

    </div>

    <!------------------------------------------------------------------------------->
    <!---------------------------SERVICES-------------------------------------------->
    <!------------------------------------------------------------------------------->

    <div class="tab-pane fade" id="services" aria-labelledby="services-tab">
      <div *ngIf="tokenService.isHotelAdmin" style="align-content: center" div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewService">
            Add new service
          </button>
        </div>
      </div>
      <app-additional-services-table [additionalServices]="hotel.additionalServices" (editEmitter)='editClicked($event)'
        (deleteEmitter)='deleteClicked($event)'></app-additional-services-table>
    </div>


    <!------------------------------------------------------------------------------->
    <!---------------------------ROOMS----------------------------------------------->
    <!------------------------------------------------------------------------------->
    <div class="tab-pane fade" id="rooms" aria-labelledby="rooms-tab">
      <div *ngIf="tokenService.isHotelAdmin" style="align-content: center" div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" (click)="openNewRoomModal()">
            Add new room
          </button>
        </div>
      </div>

      <div class="container">
        <div *ngFor="let room of hotel.rooms">
          <app-room-basic-info [room]='room' (roomDeleted)="roomDeleted($event)"></app-room-basic-info>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------->
    <!---------------------------INFO FOR ADMIN-------------------------------------->
    <!------------------------------------------------------------------------------->
    <div *ngIf="tokenService.isHotelAdmin" class="tab-pane fade" id="admin-info" aria-labelledby="admin-info-tab">
      <rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>

      <div class="col-xs-12 col-12 col-md-4 form-group">
        <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">
      </div>
    </div>

    <!------------------------------------------------------------------------------->
    <!-------------------------------BOOK-------------------------------------------->
    <!------------------------------------------------------------------------------->
    <!-- TODO: Ostaviti da samo customer moze da radi book -->
    <div *ngIf="tokenService.isHotelAdmin || tokenService.isCustomer" class="tab-pane fade" id="book" aria-labelledby="book-tab">
      <div style="align-content: center" div class="row">
        <div class="col-6 text-center">
          <input type="text" placeholder="Check in" bsDatepicker [bsConfig]='datePickerConfig' />
        </div>
        <div class="col-6 text-center">
          <input type="text" placeholder="Check out" bsDatepicker [bsConfig]='datePickerConfig' />
        </div>
      </div>


    </div>


  </div>
</div>

<!------------------------------------------------------------------------------->
<!---------------------------MODALS---------------------------------------------->
<!------------------------------------------------------------------------------->

<!-- Modal ' -->
<app-new-service-form class="modal fade" id="addNewService" tabindex="-1" role="dialog" aria-hidden="true"
  (additionalServiceCreated)='additionalServiceCreated($event)'></app-new-service-form>