<div class="item">
  <div class="heading mb-2">
      <section style="text-align:right" *ngIf="useButtons" >
          <a class="edit" *ngIf="airplane.status == 'IN_PROGRESS'" (click)="activateAirplane()"><i class="fa fa-check"></i></a>
          <a class="edit" *ngIf="airplane.status == 'IN_PROGRESS'" (click)="editAirplane()"><i class="fa fa-edit"></i></a>
          <a class="delete" (click)="deleteAirplane()"><i class="fa fa-trash"></i></a>
      </section>
      <h3>{{airplane.name}}</h3>
  </div>

  <div *ngFor="let row of airplane.seats" align="center">
    <span [tooltip]="tt" placement="left" *ngFor="let item of row; let i = index"
      [class.mr-5]="(i+1)%airplane.seatsPerCol === 0 && (i+1)!= row.length"
      [ngClass]="item.seatClass" class="seat px-2 py-1 rounded">
      <ng-template #tt>
        Seat class: <b>{{item.seatClass}}</b> <br/>
        Column: <b>{{item.colNum}}</b> <br/>
        Row: <b>{{item.rowNum}}</b>
      </ng-template>
    </span>
  </div>

</div>

