<div class="row border rounded align-items-center p-2 mt-2">
  <div class="col-sm-3 pt-2" align="center">
    <img src="assets/images/hotel/queen.png" >
  </div>
  <div class="col-sm-5 pt-2 border-left p-3" align="center">
      <p style="font-size: 22px;"> {{room.type}} Room
          <br><small class="text-muted">No. {{room.roomNumber}}</small>
          </p>
          <hr>
      <div>
          <i class="fa fa-hashtag" aria-hidden="true" ></i>{{room.floor}} Floor
          <br> <i class="fa fa-bed" aria-hidden="true" style="margin-right: 9px;"></i>{{room.numberOfBeds}} Beds
      </div>      
  </div>
  
  <div class="col border-left p-3" align="center">
      <p style="font-size: 45px; color:  #33cabb;">€{{room.price}}</p>
      <hr>
      <button *ngIf="isHotelAdmin()" class="btn btn-primary px-4 m-2" data-toggle="modal" data-target="#editRoom">Edit</button>
      <button class="btn btn-primary px-4 m-2">Book</button>
  </div>  
</div>

<app-edit-room-form [room]="forEditing" class="modal fade" id="editRoom" tabindex="-1" role="dialog" aria-hidden="true" (roomEdited)="roomEdited($event)"></app-edit-room-form>
