 <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Tickets<b>Reservation</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav">
                    <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/">Home</a></li>
                    <li class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Flights
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/find-flight">Find flight</a>
                          <a class="dropdown-item" routerLink="/aircompanies">All companies</a>
                          <a *ngIf="isSysAdmin()" class="dropdown-item" href="#" data-toggle="modal" data-target="#addAirCompanyAdmin">Add admin</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Hotels
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/find-room">Find room</a>
                          <a class="dropdown-item" routerLink="/hotels">All hotels</a>
                          <a *ngIf="isSysAdmin()" class="dropdown-item" href="#" data-toggle="modal" data-target="#addHotelAdmin">Add admin</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Rent-a-Car
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" routerLink="/find-car">Find car</a>
                          <a class="dropdown-item" routerLink="/rent-a-car-companies">All rent-a-car companies</a>
                          <a *ngIf="isSysAdmin()" class="dropdown-item" href="#" data-toggle="modal" data-target="#addCarCompanyAdmin">Add admin</a>
                        </div>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right ml-auto" *ngIf="loggedIn; else notShow">
                    <li class="nav-item dropdown" routerLinkActive="active">
                            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{username}} <i class="fa fa-sort-down" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" routerLink="/profile">Profile</a>
                                <a class="dropdown-item" routerLink="/friends">Friends</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="tokenService.signOut()">Log out</a>
                            </div>
                    </li>
                </ul>


                <ng-template #notShow>
                    <ul class="nav navbar-nav navbar-right ml-auto">
                        <li class="nav-item"><a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Log In</a>
                            <ul class="dropdown-menu form-wrapper">
                                <li>
                                    <app-login-form></app-login-form>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle get-started-btn mt-1 mb-1">Sign
                                Up</a>
                            <ul class="dropdown-menu form-wrapper">
                                <li>
                                    <app-register-form></app-register-form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </ng-template>
            </div>

            <div class="modal fade" id="addHotelAdmin" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                        <app-add-hotel-admin></app-add-hotel-admin>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal fade" id="addAirCompanyAdmin" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                        <app-add-air-company-admin></app-add-air-company-admin>
                    </div>
                  </div>
                </div>
            </div>

            <div class="modal fade" id="addCarCompanyAdmin" role="dialog" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-body">
                        <app-add-car-admin></app-add-car-admin>
                    </div>
                  </div>
                </div>
            </div>
        </nav>
