<div class="col">
    <div class="media">
    <img src="//placehold.it/200x150" class="align-self-start mr-4 py-2" alt="...">
    <div class="media-body pr-3">
          <h3 class="display-4" align="left">{{branchOffice.name}}</h3>
          <p class="text-muted" align="left">Adresa</p>
          <hr>
          <!--dugmici-->
          <button *ngIf="tokenService.isCarAdmin" class="btn btn-primary px-4 m-2 float-right"
          (click)="openEditModal()"><i
          class="fa fa-edit" aria-hidden="true"></i>Edit</button>
        <button *ngIf="tokenService.isCarAdmin" class="btn btn-primary px-4 m-2 float-right" (click)="deleteBranchOffice()">
                <i class="fa fa-trash-alt" aria-hidden="true"></i>Delete</button>        
    </div>
    </div>
  </div>

