<div class="modal-header">
  <h5 class="modal-title">Information <b style="color: #33cabb;">about person</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" [formGroup]="form" (validSubmit)="submit()">
    <div class="modal-body">
        <div class="input-group form-group" *ngIf="!isFastReservation">
            <div class="input-group-prepend">
              <span class="input-user">
                <i class="fa fa-plane" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="First name" required="required" formControlName="firstName">
        </div>
        <div class="input-group form-group" *ngIf="!isFastReservation" >
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-user" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Last name" required="required" formControlName="lastName">
        </div>
        <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-passport" aria-hidden="true"></i>
              </span>
            </div>
            <input type="text" class="form-control" placeholder="Passport number" required="required" formControlName="passport">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
        <input type="submit" class="btn btn-primary" value="Confirm"/>
    </div>
</form>
