<div class="modal-dialog" role="document">
    <div class="modal-content">
  
      <div class="modal-header">
        <h5 class="modal-title">Edit <b style="color: #33cabb;">car</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
  
      <div class="modal-body">
        <form name="form">
            <div class="input-group form-group" hidden>
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="car.id" name="id">
            </div>
  
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Car brand" required="required" [(ngModel)]="car.brand" name="brand">
            </div>
  
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-car" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="model" placeholder="Car model" required="required" [(ngModel)]="car.model">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                  </span>
                </div>
                <select [(ngModel)]="car.type" class="form-control" name="type" required="required">
                    <option value="Sedan">Sedan</option>
                    <option value="SUV">SUV</option>
                    <option value="People Carrier/MPV">People Carrier/MPV</option>
                    <option value="Convertible">Convertible</option>
                </select>
            </div>
            
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="yearOfProduction" placeholder="Year of car production" required="required" [(ngModel)]="car.yearOfProduction">
            </div>
            
            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-male" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="seatsNumber" placeholder="Number of seats" required="required" [(ngModel)]="car.seatsNumber">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-car-side" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="doorsNumber" placeholder="Number of doors" required="required" [(ngModel)]="car.doorsNumber">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-euro-sign" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="price" placeholder="Price per day" required="required" [(ngModel)]="car.price">
            </div>
            

        </form>
      </div>
  
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
        <button type="button" class="btn btn-primary" (click)="onCarEdit()">Edit</button>
      </div>
  
    </div>
  <!-- </div -->