<div class="modal-header">
  <h5 class="modal-title">Edit <b style="color: #33cabb;">car</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" [formGroup]="editCarForm" (validSubmit)="onEditCar()">
  <div class="modal-body">

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-car" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Car brand" required="required" formControlName="brand">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-car" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Car model" required="required" formControlName="model">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </span>
      </div>
      <select class="form-control" formControlName="type" required="required">
        <option value="Sedan">Sedan</option>
        <option value="SUV">SUV</option>
        <option value="People Carrier/MPV">People Carrier/MPV</option>
        <option value="Convertible">Convertible</option>
      </select>
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-calendar-alt" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="yearOfProduction" placeholder="Year of car production" required="required">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-male" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="seatsNumber" placeholder="Number of seats" required="required">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-car-side" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="doorsNumber" placeholder="Number of doors" required="required">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-euro-sign" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="price" placeholder="Price per day" required="required">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    <input type="submit" class="btn btn-primary" value="Edit"/>
  </div>
</form>