<div class="modal-dialog" role="document">
  <div class="modal-content">

    <div class="modal-header">
      <h5 class="modal-title">Edit <b style="color: #33cabb;">profile</b></h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" name="username" placeholder="Username" required="required">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="email@email.com" required="required">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-address-book" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="firstName" placeholder="First Name" required="required">
              </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-address-book" aria-hidden="true"></i>
                </span>
              </div>
              <input type="text" class="form-control" name="lastName" placeholder="Last Name" required="required">
            </div>

            <div class="input-group form-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                </div>
                <input type="text" class="form-control" name="city" placeholder="City" required="required">
            </div>

            <div class="input-group form-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                </span>
              </div>
              <input type="tel" class="form-control" name="phoneNumber" placeholder="Phone Number" required="required">
            </div>

      </form>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary">Save changes</button>
    </div>

  </div>
</div>
