<div class="container">
    <div class="row border rounded align-items-center p-2 mt-3">
            <div class="col-auto p-2">
                  <img src="assets/images/user_profile/friend.jpg" class="rounded-circle">
            </div>
            <div class="col-auto p-2" align="left">
                <h3 class="pl-2">{{friendship.fromFirstname}} {{friendship.fromLastname}}</h3>
        </div>
            <div class="col p-3" align="right">
              <button class="btn btn-secondary px-4 m-2" (click)="deleteFriendRequest()">Remove friend</button>
        </div>
      </div>
</div>