<div class="item">
    <div class="heading">
        <section style="text-align:right" *ngIf="tokenService.isAirAdmin && showLinks">
            <a (click)="openEditModal()" class="edit"><i class="fa fa-edit"></i></a>
            <a class="delete" (click)="deleteDestination()"><i class="fa fa-trash"></i></a>
        </section>
        <h3>{{destination.label}}</h3>
    </div>
    <p>
      <i class="fa fa-plane" aria-hidden="true"></i>{{destination.airportName}}, <br/>
      <i class="fa fa-city" aria-hidden="true"></i> {{destination.city}}, <br/>
      <i class="fa fa-flag" aria-hidden="true"></i> {{destination.country}}
    </p>
</div>
