<form>
  <p class="hint-text">Fill in this form to create your account!

  </p>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-user" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" name="username" placeholder="Username" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <input type="email" class="form-control" name="email" placeholder="email@email.com" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" name="firstName" placeholder="First Name" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" name="lastName" placeholder="Last Name" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" name="city" placeholder="City" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </span>
    </div>
    <input type="tel" class="form-control" name="phoneNumber" placeholder="Phone Number" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control" name="password" placeholder="Password" required="required">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" required="required">
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
</form>
