<div *ngIf="isSignedUp; else signupForm">
  Your registration is successful. Please login!
</div>

<ng-template #signupForm>
<form (ngSubmit)="onSignup()" name="form" #f="ngForm">
  <p class="hint-text">Fill in this form to create your account!

  </p>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-user" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" id="username" class="form-control" name="username" placeholder="Username" required="required" [(ngModel)]="form.username">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </span>
    </div>
    <input type="email" class="form-control" id="email" name="email" placeholder="email@email.com" required="required" [(ngModel)]="form.email" >
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required="required" [(ngModel)]="form.firstName">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-address-book" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required="required" [(ngModel)]="form.lastName">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-map-marker" aria-hidden="true"></i>
      </span>
    </div>
    <input type="text" class="form-control" id="address" name="address" placeholder="Address" required="required" [(ngModel)]="form.address">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-phone" aria-hidden="true"></i>
      </span>
    </div>
    <input type="tel" class="form-control" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" required="required" [(ngModel)]="form.phoneNumber">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required" [(ngModel)]="form.password">
  </div>
  <div class="input-group form-group">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-lock" aria-hidden="true"></i>
      </span>
    </div>
    <input type="password" class="form-control" id="matchingPassword" name="matchingPassword" placeholder="Confirm Password" required="required" [(ngModel)]="form.matchingPassword">
  </div>
  <input type="submit" class="btn btn-primary btn-block" value="Sign Up">
</form>
</ng-template>
