<div style="margin: 20px; padding: 20px">
  <ul class="nav nav-tabs">
    <!--INFO-->
    <li class="nav-item active">
      <a href="#info" role="tab" data-toggle="tab" class="nav-link active">
        <i class="fa fa-info" aria-hidden="true"></i>Info
      </a>
    </li>
    <!--BRANCH OFFICES-->
    <li class="nav-item">
      <a href="#branchOffices" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-briefcase" aria-hidden="true"></i>Branch Offices
      </a>
    </li>
    <!--CARS-->
    <li class="nav-item">
      <a href="#cars" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-car" aria-hidden="true"></i>Cars
      </a>
    </li>
    <!--RENT-->
    <li class="nav-item">
      <a href="#rent" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-book" aria-hidden="true"></i>Rent
      </a>
    </li>

    <!--ADMIN-->
    <li class="nav-item"  *ngIf="tokenService.isCarAdmin && tokenService.companyId == companyId" >
      <a href="#admin-info" role="tab" data-toggle="tab" class="nav-link">
        <i class="fa fa-info" aria-hidden="true"></i>Admin info
      </a>
    </li>

    <!--FAST RESERVATIONS-->
    <li class = "nav-item">
      <a href = "#fastreservations" role="tab" data-toggle="tab" class = "nav-link">
        <i class="fa fa-business-time" aria-hidden="true"></i>Fast reservations
      </a>
  </li>
  </ul>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active p-3" id="info" aria-labelledby="info-tab">
      <div class="media">
        <app-map [location]="carCompany.location" class="align-self-start mr-4 pt-2"></app-map>
        <div class="media-body pr-3">        
              <div class="d-flex">
                  <div class="p-2"><h3 class="display-4" align="left">{{carCompany.name}}</h3></div>
                  <div class="ml-auto p-2"><rating  [(ngModel)]="carCompany.averageRating" [max]="5" [readonly]="true"></rating></div>
                </div>         
          <p class="text-muted" align="left">{{carCompany.location.address}}, {{carCompany.location.city}}, {{carCompany.location.country}}</p>
          <hr>
          <p>{{carCompany.description}}</p>
          <div align="right">
            <button *ngIf="tokenService.isCarAdmin && tokenService.companyId == companyId" class="btn btn-primary float-right" (click)="openEditModal()"><i
                class="fa fa-edit" aria-hidden="true"></i>Edit</button>
          </div>
        </div>
      </div>
    </div>


    <!--CARS-->
    <div class="tab-pane fade" id="cars" aria-labelledby="cars-tab">
      <!-- Button trigger modal -->
      <div *ngIf="tokenService.isCarAdmin && tokenService.companyId == companyId" style="align-content: center" div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" (click)="openNewCarModal()">
            Add new car
          </button>
        </div>
      </div>
      <div class="container">
          <p *ngIf='carCompany.cars.length == 0' align="center" style="color:#33cabb;">There are no cars.</p>

        <div *ngFor="let car of carCompany.cars">
          <app-car-basic-info  *ngIf="!car.isFast" [carCompany]="carCompany" [isCarsTab]="true" (carDeleted)="carDeleted($event)" [car]='car' (carFasten)="carFasten($event)"></app-car-basic-info>
        </div>
      </div>
    </div>

    <!--BRANCH OFFICES-->
    <div class="tab-pane fade" id="branchOffices" aria-labelledby="branches-tab">
      <!-- Button trigger modal -->
      <div *ngIf="tokenService.isCarAdmin && tokenService.companyId == companyId" style="align-content: center" div class="row">
        <div class="col-12 text-center">
          <button type="button" class="btn btn-primary" (click)="openNewBranchOfficeModal()">
            Add new branch office
          </button>
          <br>
          <br>
        </div>
      </div>
      <div class="container">
          <p *ngIf='carCompany.branchOffices.length == 0' align="center" style="color:#33cabb;">There are no branch offices.</p>

        <div *ngFor="let branchOffice of carCompany.branchOffices">
          
          <app-branch-office-basic-details (branchOfficeDeleted)="branchOfficeDeleted($event)"
            [branchOffice]='branchOffice'></app-branch-office-basic-details>
        </div>
      </div>
    </div>

    <!--RENT TAB-->
    <div class="tab-pane fade" id="rent" aria-labelledby="rent-tab">
      <app-rent-form [carCompany]='carCompany' [branchOffices]='carCompany.branchOffices' [cars]='carCompany.cars'></app-rent-form>
    </div>


    <!--ADMIN INFO-->
    <div *ngIf="tokenService.isCarAdmin && tokenService.companyId == companyId" class="tab-pane fade" id="admin-info" aria-labelledby="admin-info-tab">
      <div id="accordion">
        <div class="card">
          <div class="card-header">
            <a class="card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseOne">
              Monthly resevations
            </a>
          </div>
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body">
              <app-monthly-income-chart *ngIf="monthlyCarReservation" [monthly]='monthlyCarReservation.monthly'></app-monthly-income-chart>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header">
              <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseTwo">
                Weekly reservations
  
              </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
              <div class="card-body">
                <app-weekly-income-chart *ngIf="weeklyCarReservation" [weekly]='weeklyCarReservation.weekly'></app-weekly-income-chart>
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseThree">
                  Daily reservations
                </a>
              </div>
              <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <app-daily-income-chart *ngIf="dailyCarReservation" [daily]='dailyCarReservation.daily'></app-daily-income-chart>
                </div>
              </div>
            </div>
      
            <div class="card">
              <div class="card-header">
                <a class="collapsed card-link" style="color:  #33cabb;" data-toggle="collapse" href="#collapseFour">
                  Income info
                </a>
              </div>
              <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body">
                  <div class="row ">
                    <div class="col-sm-5">
                      <p style="color: gray;">Select the period in which you want to calculate the income:</p>
                    </div>
                    <div class="col-sm-4">
                      <input class="form-control" #drp="bsDaterangepicker" [bsConfig]='datePickerConfig' bsDaterangepicker
                        [(ngModel)]="bsRangeValue">
                    </div>
                    <div class="col-sm-2">
                      <button type="button" class="btn btn-primary" (click)="getIncome()">Get income</button>
    
                    </div>
                    <div class="col-sm-1">
                      <p style="font-size: 25px; color:  #33cabb;">{{income}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
       
      </div>
    </div>

    <!--FAST RESERVATIONS TAB-->
    <div class="tab-pane fade" id="fastreservations" aria-labelledby="airplanes-tab">
      <div class = "container">
        <div *ngIf="fastCarRent.length == 0 else fastCarRentDiv" class="text-center">
            <p style="color:#33cabb;">There are no cars for fast reservations.</p>
        </div>
        <ng-template #fastCarRentDiv> 
        <div class ="row" *ngFor="let item of fastCarRent">
          <app-fast-reservation-display class="col-12 mb-3" [carCompany]='carCompany' [car]="item" (carRemovedFromFastReservations)="onTicketDeleted($event)"></app-fast-reservation-display>
        </div>
        </ng-template>
      </div>
    </div>

  </div>
</div>