<div> 
    <div *ngIf="requests.length == 0 else requestsDiv">
            <p> You don't have any friend requests.</p>
    </div>
    <ng-template #requestsDiv>
            <div >
            <app-friend-request *ngFor="let req of requests" [request]= 'req' (friendRequestEvent)="requestEvent($event)"></app-friend-request>
                 
            <nav style="padding-top: 20px">
                <ul class="pagination" style="justify-content: center">
                        <li class="page-item">
                                <a class="page-link" aria-label="Previous" (click)="arrowAction(-1)">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                                </a>
                        </li>
                        <li class="page-item" *ngFor="let item of pages; let i = index" [ngClass]="{'active': i == pageNumber}">
                                <a class="page-link" (click)="changePage(i,$event)"> {{i + 1}} </a>
                        </li>
                        <li class="page-item">
                                <a class="page-link" aria-label="Next" (click)="arrowAction(1, $event)">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                                </a>
                        </li>
                </ul>
             </nav>
           </div>
    </ng-template>
</div>
