<div class="container mt-3">
    <div class="row">
        <div class="col-12 mb-2" *ngIf="tokenService.isCustomer" >
            <section style="text-align:center">
                <a placement="bottom" tooltip="Reserve tickets" class="edit" routerLink="/reserve-flight/{{flight.id}"><i class="fa fa-ticket-alt"> Reserve you seat</i></a>
            </section>
        </div>
      <div class="col-12 mb-2" *ngIf="tokenService.isAirAdmin" >
          <section style="text-align:right">
              <a placement="bottom" tooltip="Disable seats" class="edit" (click)="openDisableSeatsForm()"><i class="fa fa-couch"></i></a>
              <a placement="bottom" tooltip="Create fast reservations" class="edit" *ngIf="flight.status == 'ACTIVE'" (click)="openCreateFastTicketsForm()"><i class="fa fa-ticket-alt"></i></a>
              <a placement="bottom" tooltip="Show flight to customers" class="edit" *ngIf="flight.status == 'IN_PROGRESS'" (click)="activateFlight()"><i class="fa fa-check"></i></a>
              <a placement="bottom" tooltip="Change prices" class="edit" (click)="openChangePricesForm()"><i class="fa fa-tag"></i></a>
              <a placement="bottom" tooltip="Edit" class="edit" (click)="openEditForm()" *ngIf="flight.status == 'IN_PROGRESS'"><i class="fa fa-edit"></i></a>
              <a placement="bottom" tooltip="Delete" class="delete" *ngIf="flight.status == 'IN_PROGRESS'" (click)="deleteFlight()"><i class="fa fa-trash"></i></a>
          </section>
      </div>
    </div>
    <div class="row rounded align-items-center p-2 mt-3">
      <div class="col-auto border-right py-5" style="min-width:150px;" align="center">
          <h3 class="display-4" style="font-size:20px;">
              <a routerLink="/aircompany/{{flight.airCompanyBasicInfo.id}}">{{flight.airCompanyBasicInfo.name}}</a>
          </h3>
          <small class="text-muted">{{flight.airCompanyBasicInfo.location.city}}, {{flight.airCompanyBasicInfo.location.country}}</small>
      </div>

       <div class="col-4 pt-2" align="center" *ngIf="flight.destinations.length > 0" >
              <p>{{flight.destinations[0].destination.label}}
              <br><small class="text-muted">{{flight.destinations[0].destination.airportName}}, <br>
                {{flight.destinations[0].destination.city}}, {{flight.destinations[0].destination.country}}</small>
              </p>
              <hr>
              <p>{{flight.startDateAndTime}}</p>
      </div>
      <div class="col-auto  pl-0 pr-4">
          <i class="fa fa-plane-departure fa-2x"></i>
      </div>
      <div class="col-auto pt-3">
              <span class="badge badge-primary p-2">Duration: <br/> {{flight.duration}}</span>
              <p align="center"><small class="text-muted">{{flight.destinations.length - 2}} stops<br>{{flight.length}} km</small></p>
      </div>
      <div class="col-auto pl-0 pr-4">
          <i class="fa fa-plane-arrival fa-2x"></i>
      </div>
      <div class="col-4 pt-2" align="center" *ngIf="flight.destinations.length > 0" >
              <p>{{flight.destinations[flight.destinations.length-1].destination.label}}
              <br><small class="text-muted">{{flight.destinations[flight.destinations.length-1].destination.airportName}},<br>
                {{flight.destinations[flight.destinations.length-1].destination.city}},  {{flight.destinations[flight.destinations.length-1].destination.country}}</small>
              </p>
              <hr>
              <p>{{flight.endDateAndTime}}</p>
      </div>
  </div>

  <div class="accordion" id="accordionExample">

    <div class="card">
      <div class="card-header" id="stops">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#stops-content">
            Stops
          </button>
        </h2>
      </div>

      <div id="stops-content" class="collapse" data-parent="#accordionExample">
        <div class="card-body p-3">
          <div class="row pt-4 justify-content-md-center" >
              <app-destination *ngFor="let item of flight.destinations" class="col-md-5 col-lg-4 mb-3" [destination]="item.destination" [showLinks]=false></app-destination>
          </div>
        </div>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="seats">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#seats-content">
            Seats
          </button>
        </h2>
      </div>
      <div id="seats-content" class="collapse m-5" data-parent="#accordionExample">
        <app-tickets-display [flight]="flight"></app-tickets-display>
      </div>
    </div>


    <div class="card">
      <div class="card-header" id="info">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#info-content">
            Info
          </button>
        </h2>
      </div>
      <div id="info-content" class="collapse" data-parent="#accordionExample">
        <div class="card-body text-muted">
            <br>
            <i class="fa fa-shopping-bag" aria-hidden="true"></i> Max number of carry on bags: {{flight.maxCarryOnBags}}
            <br>
            <i class="fa fa-suitcase-rolling" aria-hidden="true"></i> Max number of bags you can check in: {{flight.maxCheckedBags}}
            <br>
            <i class="fa fa-concierge-bell" aria-hidden="true"></i> Additional services available:
            <i class="fa fa-check-circle" aria-hidden="true" *ngIf="flight.additionalServicesAvailable" ></i>
            <i class="fa fa-times-circle" aria-hidden="true" *ngIf="!flight.additionalServicesAvailable"></i>
        </div>
      </div>
    </div>
  </div>
