<div class="slideout" *ngIf="tokenService.isCustomer">
    <i class="fas fa-shopping-cart shopingcart pr-2"></i>

    <div class="slideout_inner container bg-light">

        <div *ngIf="!(flightReservation || roomReservation || carReservation)">
          Your cart is empty!
        </div>

        <div *ngIf="flightReservation"  class="row border rounded align-items-center p-0 mb-3" style="background-color:#ffffff;">
            <div class="col-2 py-1 px-2" align="center">
                <p class="border-bottom mb-0 pb-0"><small>{{flightReservation.flight.destinations[0].destination.label}}</small></p>
                <small>{{datePipe.transform(flightReservation.flight.startDateAndTime, 'd/M/yy')}}</small>
            </div>
            <div class="col-auto px-1">
                <i class="fas fa-plane" style="color:#33cabb;"></i>
            </div>
            <div class="col-2 py-1 px-2" align="center">
                <p class="border-bottom mb-0 pb-0"><small>{{flightReservation.flight.destinations[flightReservation.flight.destinations.length - 1].destination.label}}</small></p>
                <small>{{datePipe.transform(flightReservation.flight.endDateAndTime, 'd/M/yy')}}</small>
            </div>
            <div class="col-auto p-2 border-left" align="center">
                <small class="text-muted">{{flightReservation.ticketReservations.length}} seats</small>
            </div>
            <div class="col p-2 pr-3" align="right">
                <small style="font-size: 20px; color: #33cabb; padding:0;">€{{flightReservation.total}}</small>
            </div>
            <div class="col-auto py-2 px-0 border-left rounded-right" style="height:59px; background-color: #E1E1E1;">
                <button type="button" class="btn btn-link btn-small" (click)="removeFlightReservation()"><i class="fas fa-times delete"></i></button>
            </div>
        </div>

        <div *ngIf="roomReservation" class="row border rounded align-items-center p-0 mb-3" style="background-color:#ffffff;">
            <div class="col-auto p-2  border-right" style="min-width:104px; max-width:190px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" align="center">
                {{roomReservation.hotel.name}}
            </div>
            <div class="col-2 py-1 px-2" align="center">
                <p class="border-bottom mb-0 pb-0"><small>{{datePipe.transform(roomReservation.checkInDate, 'd/M/yy')}}</small></p>
                <small>{{datePipe.transform(roomReservation.checkOutDate, 'd/M/yy')}}</small>
            </div>
            <div class="col-auto p-2 border-left" align="center">
                <small class="text-muted">{{roomReservation.reservations.length}} room/s</small>
            </div>
            <div class="col p-2 pr-3" align="right">
                <small style="font-size: 20px; color: #33cabb; padding:0;">€{{roomReservation.price}}</small>
            </div>
            <div class="col-auto py-2 px-0 border-left rounded-right" style="height:59px; background-color: #E1E1E1;">
                <button type="button" class="btn btn-link btn-small" (click)="removeRoomReservation()"><i class="fas fa-times delete"></i></button>
            </div>
        </div>

        <div *ngIf="carReservation" class="row border rounded align-items-center p-0 mb-3" style="background-color:#ffffff;">
            <div class="col-auto p-2  border-right" style="min-width:104px; max-width:130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" align="center">
                {{carReservation.rentACarCompany.name}}
            </div>
            <div class="col-2 py-1 px-2" align="center">
                <p class="border-bottom mb-0 pb-0"><small>{{datePipe.transform(carReservation.pickUpDate, 'd/M/yy')}}</small></p>
                <small>{{datePipe.transform(carReservation.dropOffDate, 'd/M/yy')}}</small>
            </div>
            <div class="col-auto p-2 border-left" align="center">
                <small class="text-muted">{{carReservation.car.type}}</small>
            </div>
            <div class="col p-2 pr-3" align="right">
                <small style="font-size: 20px; color: #33cabb; padding:0;">€{{carReservation.price}}</small>
            </div>
            <div class="col-auto py-2 px-0 border-left rounded-right" style="height:59px; background-color: #E1E1E1;">
                <button type="button" class="btn btn-link btn-small" (click)="removeCarReservation()"><i class="fas fa-times"></i></button>
            </div>
        </div>

    </div>

    <div class="slideout_footer pt-2">
        <button type="button" class="btn btn-light px-4 mr-2" (click)="clearCart()">Clear</button>
        <button type="button" class="btn btn-light px-4" (click)="buy()" [disabled] = "!(flightReservation || roomReservation || carReservation)">Buy</button>
    </div>
</div>


