<div class="slideout" *ngIf="tokenService.isCustomer" >
  <i class="fas fa-shopping-cart shopingcart pr-2"></i>

  <div class="slideout_inner container bg-light">
    <div class="row border rounded align-items-center p-0 mb-3" style="background-color:#ffffff;">
      <div class="col-2 py-1 px-2" align="center">
        <p class="border-bottom mb-0 pb-0"><small>SRB</small></p>
        <small>1/1/19</small>
	  </div>
      <div class="col-auto px-1">
          	<i class="fas fa-plane" style="color:#33cabb;"></i>
	  </div>
      <div class="col-2 py-1 px-2" align="center">
        <p class="border-bottom mb-0 pb-0"><small>SRB</small></p>
        <small>1/1/19</small>
	  </div>
      <div class="col-auto p-2 border-left" align="center">
        <small class="text-muted">2 seats</small>
	  </div>
      <div class="col p-2 pr-3" align="right">
        <small style="font-size: 20px; color: #33cabb; padding:0;">€150</small>
	  </div>
      <div class="col-auto py-2 px-0 border-left rounded-right" style="height:59px; background-color: #E1E1E1;">
    	<button type="button" class="btn btn-link btn-small"><i class="fas fa-times delete"></i></button>
 	 </div>
    </div>


    <div class="row border rounded align-items-center p-0 mb-3" style="background-color:#ffffff;">
      <div class="col-auto p-2  border-right" style="min-width:104px; max-width:190px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" align="center">
        Hotel
	  </div>
      <div class="col-2 py-1 px-2" align="center">
        <p class="border-bottom mb-0 pb-0"><small>1/1/19</small></p>
        <small>1/1/19</small>
	  </div>
      <div class="col-auto p-2 border-left" align="center">
        <small class="text-muted">10 rooms</small>
	  </div>
      <div class="col p-2 pr-3" align="right">
        <small style="font-size: 20px; color: #33cabb; padding:0;">€150</small>
	  </div>
      <div class="col-auto py-2 px-0 border-left rounded-right" style="height:59px; background-color: #E1E1E1;">
    	<button type="button" class="btn btn-link btn-small"><i class="fas fa-times delete"></i></button>
 	 </div>
    </div>

   	<div class="row border rounded align-items-center p-0 mb-3" style="background-color:#ffffff;">
      <div class="col-auto p-2  border-right" style="min-width:104px; max-width:130px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" align="center">
        Company
	  </div>
      <div class="col-2 py-1 px-2" align="center">
        <p class="border-bottom mb-0 pb-0"><small>1/1/19</small></p>
        <small>1/1/19</small>
	  </div>
      <div class="col-auto p-2 border-left" align="center">
        <small class="text-muted">People Carrier/MPV</small>
	  </div>
      <div class="col p-2 pr-3" align="right">
        <small style="font-size: 20px; color: #33cabb; padding:0;">€150</small>
	  </div>
      <div class="col-auto py-2 px-0 border-left rounded-right" style="height:59px; background-color: #E1E1E1;">
    	<button type="button" class="btn btn-link btn-small"><i class="fas fa-times"></i></button>
 	 </div>
    </div>


   </div>

  	<div class="slideout_footer pt-2"><button type="button" class="btn btn-light px-4">Buy</button></div>
</div>



