.fa {
  color: #33cabb;
}

.delete > .fa:hover{
  color: darkslategrey;
}

.edit{
  margin-right: 3px;
}

.edit > .fa:hover{
  color:darkslategrey;
}

.check{
  margin-right: 3px;
}

.check > .fa:hover{
  color:darkslategrey;
}

.x{
  margin-left: 3px;
}

.x > .fa:hover{
  color:darkslategrey;
}
