<div class="row border rounded align-items-center p-2 mt-2">
    <div class="col-sm-3 pt-2" align="center">
        
        <img *ngIf="car.type == 'Sedan'" src="assets/images/car/sedan.png" class="rounded-circle">
        <img *ngIf="car.type == 'SUV'" src="assets/images/car/suv.png" class="rounded-circle">
        <img *ngIf="car.type == 'People Carrier/MPV'" src="assets/images/car/mpv.png">
        <img *ngIf="car.type == 'Convertible'" src="assets/images/car/convertible.png" class="rounded-circle">
        <br><small class="text-muted">from <b><i>{{date0}}</i></b> to <b><i>{{date1}}</i></b></small> 
    </div>
    <div class="col-sm-5 pt-2 border-left p-3" align="center">
        <p style="font-size: 22px;">{{car.brand}} {{car.model}}
            <br><small class="text-muted">Type: {{car.type}}</small>
        </p>
        <hr>
        <div>
            <i class="fa fa-male" aria-hidden="true"></i>{{car.seatsNumber}} Seats
            <i class="fa fa-car-side" aria-hidden="true"></i> {{car.doorsNumber}} Doors
            <br> <i class="fa fa-calendar-alt" aria-hidden="true"></i>{{car.yearOfProduction}} Year
        </div>
    </div>

    <div class="col border-left p-3" align="center">
        <div class="ribbon">€{{newPrice}}</div>
        <p class="text-muted font-weight-light" style="font-size: 35px;  text-decoration: line-through;">€{{car.price}}</p>
          
        <hr>
        <!---->
        <button *ngIf="tokenService.isCarAdmin" class="btn btn-primary px-4 m-2" (click)="removeFromFastCar()" >Remove</button>
        
    </div>
</div>
