<div class="modal-header">
  <h5 class="modal-title">Add new <b style="color: #33cabb;">room</b></h5>
  <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form"  [formGroup]="newRoomForm" (validSubmit)="onRoomAdd()">
  <div class="modal-body">
    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
        </span>
      </div>
      <select class="form-control" formControlName="type" required="required">
        <option value='Regular'>Regular</option>
        <option value='Studio'>Studio</option>
        <option value='Apartman'>Apartman</option>
      </select>
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-hashtag" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" placeholder="Room floor" required="required" formControlName="floor">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-hashtag" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="roomNumber" placeholder="Room number" required="required">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-bed" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="numberOfBeds" placeholder="Number of beds" required="required">
    </div>

    <div class="input-group form-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-euro-sign" aria-hidden="true"></i>
        </span>
      </div>
      <input type="text" class="form-control" formControlName="price" placeholder="Price per night" required="required">
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
      {{errorMessage}}
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    <input type="submit" class="btn btn-primary" value="Add" />
  </div>
</form>