<div class="modal-header">
  <h5 class="modal-title" *ngIf="!isAddForm" >Edit <b style="color: #33cabb;">destination</b></h5>
  <h5 class="modal-title" *ngIf="isAddForm" >Add <b style="color: #33cabb;">destination</b></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form name="form" [formGroup]="flightForm" (validSubmit)="submit()">
  <div class="modal-body">

      <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">
              <i class="fa fa-map-marked-alt" aria-hidden="true"></i>
            </label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" formControlName = "destinationSelectBox">
            <option *ngFor="let item of destinations; let i=index" [ngValue]="i"> {{item.label}} | {{item.airportName}} | {{item.country}}</option>
          </select>
          <div class="input-group-append">
              <button (click)="addDestination()" class="btn btn-primary" type="button" id="button-addon2"><i class="fas fa-plus"></i></button>
          </div>
      </div>

      <hr>


      <div class="row justify-content-md-center">
          <div class="col">
            <bs-sortable
            formControlName = "selectedDestinations"
            [itemTemplate]="itemTemplate" itemClass="sortable-item"
            itemActiveClass="sortable-item-active"
            placeholderItem="Please, add destination." placeholderClass="sortable-item"
            wrapperClass="sortable-wrapper"
            >
            <ng-template #itemTemplate let-item="item" let-index="index"> <span>{{index + 1}}: {{item}} </span></ng-template>
            </bs-sortable>
          </div>
        </div>

      <div class="alert alert-danger" role="alert" *ngIf="errorMessage.length != 0">
          {{errorMessage}}
      </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="modalRef.hide()">Close</button>
    <input type="submit" class="btn btn-primary" value="Save"/>
  </div>

</form>
