<li class="media">
  <a href="#" class="pull-left">
      <img src="assets/img/1.png" alt="" class="img-circle">
  </a>
  <div class="media-body">
      <span class="text-muted pull-right">
          <small class="text-muted">30 min ago</small>
      </span>
      <strong class="text-success">{{request.to_firstname}} {{request.to_lastname}}</strong>
      <p>
          Wants to be your friend.          
      </p>
      <button type="button" class="btn btn-primary">Accept</button>
      <button type="button" class="btn btn-secondary">Refuse</button>
  </div>
</li>