<div style="margin: 20px; padding: 20px">
		
  <ul class="nav nav-tabs">
      <li class = "nav-item active">
        <a href = "#requests" role="tab" data-toggle="tab" class = "nav-link active">
          <i class="fa fa-user" aria-hidden="true"></i>Friend requests
        </a>
      </li>
      <li class = "nav-item">
        <a href = "#friends" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-address-book" aria-hidden="true"></i>Friends
        </a>
      </li>	
      <li class = "nav-item">
        <a href = "#newFriends" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-search" aria-hidden="true"></i>Find new friends
        </a>
      </li>		        
  </ul>

  <div class="tab-content">          
    <div class="tab-pane active" role="tabpanel" id="requests">
        <div class="tabContent">
            <app-friend-request *ngFor="let req of requests" [request]= 'req'></app-friend-request>
            <div *ngIf="requests.length == 0">
                You don't have any new friend requests.
            </div>
        </div>
    </div>          
  </div>

  <div class="tab-content">          
    <div class="tab-pane active" role="tabpanel" id="friends">
        <div class="tabContent">
        </div>
    </div>          
  </div>

  <div class="tab-content">          
    <div class="tab-pane active" role="tabpanel" id="newFriends">
        <div class="tabContent">
        </div>
    </div>          
  </div>
 

</div>
