<div style="margin: 20px; padding: 20px">
		
  <ul class="nav nav-tabs">
      <li class = "nav-item active">
        <a href = "#requests" role="tab" data-toggle="tab" class = "nav-link active">
          <i class="fa fa-user" aria-hidden="true"></i>Friend requests
        </a>
      </li>
      <li class = "nav-item">
        <a href = "#friends" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-address-book" aria-hidden="true"></i>Friends
        </a>
      </li>	
      <li class = "nav-item">
        <a href = "#newFriends" role="tab" data-toggle="tab" class = "nav-link">
          <i class="fa fa-search" aria-hidden="true"></i>Find new friends
        </a>
      </li>		        
  </ul>

  <div class="tab-content">          
    <app-friend-requests-page id="requests" role="tabpanel" class="tab-pane active" (friendRequestAccepted)="friendAdded($event)"></app-friend-requests-page>        
        
    <app-friendships-page id="friends" role="tabpanel" class="tab-pane"></app-friendships-page>          
          
    <app-find-friends-page id="newFriends" role="tabpanel" class="tab-pane"></app-find-friends-page>       
  </div>
 

</div>
